.pokedex{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  justify-content: center;

  text-align: center;

}


.poke-card{
  padding: 1rem;
  border: 1px rgb(91, 79, 79) solid;
  border-radius: 16px;
}
